
.code {
    background-color: #eee;
    border: 1px #aaa solid;
    margin-bottom: 10px;
}

.code pre {
    background-color: transparent;
    padding: 3px;
    margin: 0;
    border: none;
}

.code pre.add {
    background-color: #dfd;
}

.code pre.remove {
    background-color: #fdd;
}

